.button {
  font-size: 1rem;
  font-family: var(--type-first);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  background: #fb1;
  color: #764701;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
}
